/* CSS for header and navigation */
:root {
    --primary-color: #555;
    --secondary-color: #333;
    --background-color: #f2f2f2;
    --text-color: #000;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: linear-gradient(to top, #000000, #1a1a1a, #302b29, #413937, #524d46, #645a55, #776767);
    padding: 35px 0;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
  }
  
  header h1 {
    font-family: 'Lora';
    color: rgba(10, 1, 1, 0.8);
    animation: slide-in-top 1s forwards;
    font-size: 24px;
    margin-top: 0;
  }
  
  /* CSS for contact section */
  .contact-grid {
    display: flex;
    justify-content: space-evenly;
  }
  
  .contact-info {
    padding: 0 2rem;
    border-radius: 0.25rem;
    color: #fff7f7;
  }
  
  .info-wrapper {
    display: grid;
    gap: 0.5rem;
    margin-top: -25px;
  }
  
  .buton-social img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
  }
  
  /* CSS for footer */
  footer {
    padding: 20px;
    text-align: center;
    font-size: 16px;
    height: 20px;
    background: linear-gradient(to top, #999999, #808080, #666666, #4d4d4d, #333333, #1a1a1a);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  